.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-header ul {
    list-style: none;
    padding: 0;
}

.lista-placeholder {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divs {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.botao-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
