<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolsosenhas web consultar senhas wip</title>
</head>
<body>
    <header class="header1"><h1>Consultar Senhas</h1></header>
    <main>
        {% if senhas %}
        <ol class="lista-master lista-ol">
            {% for item in senhas %}
            <li class="lista-master lista-consulta">
                <span class="span">{{item[1]}} | ********</span>
                <form action="/deletar" method="post">
                    <input type="hidden" name="plataforma" value="{{item[1]}}">
                    <input class="botao botao-secundario" type="submit" value="Deletar">
                </form>
                <form action="/trocar" method="post">
                    <input type="hidden" name="plataforma" value="{{item[1]}}">
                    <input class="botao botao-secundario" type="submit" value="Trocar">
                </form>
                <form action="/copiar" method="post">
                    <input type="hidden" name="senha" value="{{item[2]}}">
                    <input class="botao botao-secundario" type="submit" value="Copiar">
                </form>
            </li>
            {% endfor %}
        </ol>
        {% else %}
        <p class="paragrafo">Lista Vazia!</p>
        {% endif %}
        <div class="div-master">
            <a class="botao botao-principal" href="/">Voltar para home</a>
        </div>
    </main>
</body>
</html>