<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolsosenhas gerar senha web wip</title>
    <meta name="description" content="Página gerar senha de projeto de gerenciamento de senhas">
</head>
<body>
    <header class="header1"><h1>Gerar Senha</h1></header>
    <main>
        <form action="/gerar" method="post">
            <div class="div-master">
                <label class="label" for="plataforma">Insira a Plataforma: </label>
                <input type="text" name="plataforma" id="plataforma" required/>
            </div>
            <div class="div-master">
                <input class="botao botao-secundario" type="submit" value="Enviar">
            </div>
        </form>
        <div class="div-master">
            <a href="/" class="botao botao-principal">Voltar para home</a>
        </div>
    </main>
</body>
</html>