<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolsosenhas web wip</title>
    <meta name="description" content="Página home de projeto de gerenciamento de senhas">
</head>
<body>
    <header class="header1">
        <h1>Gerenciar Senhas</h1>
        <nav>
            <ol class="lista-master lista-ol">
                <li><a class="botao botao-principal" href="/gerar">Gerar Senha</a></li>
                <li><a class="botao botao-principal" href="/consultar">Consultar Senha</a></li>
            </ol>
        </nav>
    </header>
</body>
</html>