<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolsosenhas web wip</title>
    <meta name="description" content="Página home de projeto de gerenciamento de senhas">
</head>
<body>
    <header class="main-header">
        <h1>Gerenciar Senhas</h1>
        <nav>
            <ul>
                <li><a href="/gerar">gerar_e_salvar_senha</a></li>
                <li><a href="/consultar">consultar_senhas</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>